@import (less) "../../../bower_components/normalize-css/normalize.css";
@import "../../../bower_components/lesshat/build/lesshat.less";

@primaryColor: #1DA1F2;

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

// Map
#map {
  position: relative;
  width: 100%;
  height: 100%;

  .title {
    position: absolute;
    top: 0;
    left: 100px;
    right: 100px;
    margin-top: 50px;
    font-size: 32px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    color: @primaryColor;
    text-shadow: -1px -1px 0 #FFFFFF, 1px -1px 0 #FFFFFF, -1px 1px 0 #FFFFFF, 1px 1px 0 #FFFFFF, 0 5px 5px rgba(0, 0, 0, 0.5);
    z-index: 2;
  }

  #map-canvas {
    width: 100%;
    height: 100%;
    background: #252525;

    .marker {
      width: 48px;
      height: 48px;
      border: 2px solid #FFFFFF;
      .border-radius(50%);
      overflow: hidden;
      .box-shadow(0 5px 10px 0 rgba(0, 0, 0, 0.5));
      cursor: pointer;
    }
  }
}

// Form
#search {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  .box-shadow(0 -1px 10px 0 rgba(0, 0, 0, 0.5));

  .form-group {
    float: left;
    width: 50%;

    .text-field {
      padding: 10px 20px;
      width: 100%;
      line-height: 30px;
      height: 30px;
      border: none;
    }

    .button {
      float: left;
      padding: 0 10px;
      height: 50px;
      width: 50%;
      border: none;
      background: @primaryColor;
      text-transform: uppercase;
      font-weight: 700;
      color: #FFFFFF;
      cursor: pointer;

      &:hover {
        background: #064164;
      }

      &:last-child {
        border-left: 1px solid #FFFFFF;
      }
    }
  }
}
